h1 {
    text-align: center;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  color: #222222;
  font-family: Arial;
  line-height: 1.5;
}

.section-box {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px;
}

.description {
    text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}
table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}
th {
    border: 2px solid black;
    padding: 10px;
}
td {
    border: 2px solid black;
    padding: 10px;
}

header,
main,
footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #777777;
}
